.start-conversation-form-wrapper hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.participants-list-header {
    margin: 0;
    color: var(--color-text-dark-primary);
    font-weight: bold;
}

.participants-list {
    display: flex;
    flex-flow: column;
    margin: 0px 15px;
}

.participants-list-item {
    display: flex;
    flex-flow: row;
}

.participant-name {
    font-weight: bold;
    color: var(--color-text-dark-secondary);
}

.participant-image {
    margin-left: 5px;
    margin-right: 10px;
}

.participant-controls {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.participant-delete {
    margin-left: auto;
    color: var(--color-text-dark-secondary);
}

.conversation-input-footer {
    flex: unset;
    margin-top: 30px;
}
