#ui-middle {
  z-index: unset;
}

#ui-middle > *:not(#ui-conversation-hud) {
  z-index: var(--z-index-app);
}

#ui-middle > #ui-conversation-hud {
  z-index: 20;
  flex: 1;
  min-height: 0;
}

/* CSS fix for file-picker being stretched out by the D&D 5e CSS when inside a sheet */
.dnd5e .conversation-entry-sheet .form-group .form-fields .file-picker {
  flex: 0;
}
