<footer class="chud-sheet-footer">
  <button
    type="button"
    name="save-faction"
    id="save-faction"
    title="{{localize 'CHUD.actions.saveFaction'}}"
    {{#unless dirty}} disabled {{/unless}}
  >
    <i class="fas fa-eye"></i>
    <span>{{localize 'CHUD.actions.saveFaction'}}</span>
  </button>
</footer>