/* ----- Header ----- */
/* #region */
.pull-participants-from-scene-form .header {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 5px;
  border-bottom: 1px solid var(--color-underline-header);
  height: 34px;
  flex: 0;
}

.pull-participants-from-scene-form .header > p {
  display: flex;
  align-items: center;
  flex: 3;
  margin: 0;

  color: var(--color-text-dark-primary);
  font-size: 1.5em;
}
/* #endregion */

/* ----- Header buttons ----- */
/* #region */
.pull-participants-from-scene-form .header .header-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
}

.pull-participants-from-scene-form .header .header-action-button i {
  margin: 0;
}
/* #endregion */

/* ----- Pulled actors list ----- */
/* #region */
.pull-participants-from-scene-form .list-wrapper {
  height: 100%;
  overflow-y: auto;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pull-participants-from-scene-form #participants-pulled-from-scene {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.pull-participants-from-scene-form .pulled-participant {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;

  border-bottom: 1px solid var(--color-border-light-2);
}

.pull-participants-from-scene-form .pulled-participant:last-child {
  border-bottom: none;
}
/* #endregion */

/* ----- Portrait Display ----- */
/* #region */
.pull-participants-from-scene-form .portrait-wrapper {
  height: 44px;
  width: 44px;
  margin-left: 15px;

  border: 1px solid var(--color-border-dark);
  border-radius: 3px;
}

.pull-participants-from-scene-form .portrait-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border: 0;
  border-radius: 0;
}
/* #endregion */

/* ----- Text Display ----- */
/* #region */
.pull-participants-from-scene-form .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 10px;
}

.pull-participants-from-scene-form .text-wrapper .name {
  margin: 0;
  font-weight: bold;
  color: var(--color-text-dark-secondary);
}

.pull-participants-from-scene-form .text-wrapper .is-hidden {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pull-participants-from-scene-form .text-wrapper .is-hidden i {
  margin-right: 3px;
  font-size: 10px;
}

.pull-participants-from-scene-form .text-wrapper .is-hidden p {
  margin: 0;
  font-style: italic;
  font-size: 11px;
}
/* #endregion */

/* ----- Checkbox ----- */
/* #region */
.pull-participants-from-scene-form .pull-participant-checkbox {
  margin-left: auto;
  margin-right: 15px;
}
/* #endregion */

/* ----- Footer ----- */
/* #region */
.pull-participants-from-scene-form .footer {
  flex: unset;
}
/* #endregion */
