<div id="gmControlledConversation" class="chud-active-conversation-content {{#if hasDock}}has-dock{{/if}}">
  {{!-- Drag and drop area --}}
  <div id="gmControlledConversationDropzone" class="chud-dropzone" >
    <i class="far fa-square-plus"></i>
    <p> {{localize 'CHUD.strings.dropItem'}} </p>
    <p class="hold-control"> ({{localize 'CHUD.strings.holdControl'}}) </p>
  </div>

  {{!-- Active participant --}}
  <div id="ui-conversation-active-participant">
  </div>
</div>
