{{!-- TODO: Add localization --}}
<form class="sheet conversation-creation-form">
  <div>
    <button id="gmControlledConversationButton" class="conversation-type-selector">
      <i class="fas fa-user"></i>
      <h3 class="conversation-type-name">GM Controlled</h3>
      <p class="conversation-type-description">
        [TODO: Add description]
      </p>
    </button>

    <button id="collectiveConversationButton" class="conversation-type-selector">
      <i class="fas fa-users"></i>
      <h3 class="conversation-type-name">Collective</h3>
      <p class="conversation-type-description">
        [TODO: Add description]
      </p>
    </button>
  </div>
</form>