{{!-- TODO: Add localization --}}
<form class="sheet conversation-creation-form">
  <div>
    <button id="gm-controlled-conversation-button" class="conversation-type-selector">
      <i class="fas fa-user"></i>
      <h3 class="conversation-type-name">GM Controlled</h3>
      <p class="conversation-type-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam condimentum tellus finibus, at aliquet metus convallis.
      </p>
    </button>

    <button id="collective-conversation-button" class="conversation-type-selector" disabled>
      <i class="fas fa-users"></i>
      <h3 class="conversation-type-name">Collective</h3>
      <p class="conversation-type-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam condimentum tellus finibus, at aliquet metus convallis.
      </p>
    </button>
  </div>
</form>