<div class="standard-form chud-flex-1" data-application-part="body">
  <div class="form-group">
    <label>{{localize "CHUD.strings.conversationBackground.name"}}</label>
    <div class="form-fields">
      <file-picker name="conversationBackground" type="imagevideo" value="{{conversationBackground}}"></file-picker>
    </div>
    <p class="hint">{{localize "CHUD.strings.conversationBackground.hint"}}</p>
  </div>
</div>