/* ----- View only ----- */
/* #region */
.chud-view-only-faction-data .banner-shape-button {
  opacity: 0.65;
  cursor: initial;
  pointer-events: none;
}

.chud-view-only-faction-data input {
  pointer-events: none;
  border: none;
  color: var(--color-text-dark-secondary);
}
/* #endregion */
