<form class="flexcol conversation-faction-sheet" style="height: 100%">
  <div id="conversation-sheet-content-wrapper" class="drag-and-drop-wrapper">
    {{> "modules/conversation-hud/templates/fragments/faction_data_config_tab.hbs" displayFaction=faction.displayFaction factionName=faction.factionName factionLogo=faction.factionLogo factionBannerEnabled=faction.factionBannerEnabled factionBannerShape=faction.factionBannerShape factionBannerTint=faction.factionBannerTint}}
  </div>

  <div class="footer">
    <footer class="sheet-footer flexrow">
      <button
        type="button"
        name="save-conversation-faction"
        id="save-conversation-faction"
        title="{{localize 'CHUD.actions.saveFaction'}}"
        {{#unless dirty}} disabled {{/unless}}
      >
        <i class="fas fa-save"></i>
        {{localize 'CHUD.actions.saveFaction'}}
      </button>
    </footer>
  </div>
</form>
