.chud-conversation-sheet .chud-conversation-sheet-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  overflow: hidden;
  gap: 1rem;
}

.chud-conversation-sheet .chud-conversation-sheet-content .journal-header {
  margin: 0;
}

.chud-conversation-sheet .chud-conversation-sheet-content .chud-sheet-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.chud-conversation-sheet .chud-conversation-sheet-content .chud-sheet-footer > button {
  --button-size: calc(1.25 * var(--input-height));
  flex: 1;
}
