<form class="sheet">
  <div class="flexrow chud-form-header">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'CHUD.strings.documentName'}}"/>
  </div>

  <div id="chud-faction-sheet-content" class="drag-and-drop-wrapper">
    {{> "modules/conversation-hud/templates/fragments/faction-data.hbs"
      displayFaction=faction.displayFaction
      factionName=faction.factionName
      factionLogo=faction.factionLogo
      factionBannerEnabled=faction.factionBannerEnabled
      factionBannerShape=faction.factionBannerShape
      factionBannerTint=faction.factionBannerTint
    }}
  </div>

  <div class="chud-form-footer">
    <footer class="sheet-footer flexrow">
      <button
        type="button"
        name="save-conversation-faction"
        id="save-conversation-faction"
        title="{{localize 'CHUD.actions.saveFaction'}}"
        {{#unless dirty}} disabled {{/unless}}
      >
        <i class="fas fa-save"></i>
        {{localize 'CHUD.actions.saveFaction'}}
      </button>
    </footer>
  </div>
</form>
