/* ----- Drag and drop wrapper ----- */
/* #region */
.participant-add-edit-form .drag-and-drop-wrapper {
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* #endregion */

/* ----- Dropzone ----- */
/* #region */
.participant-add-edit-form .drag-and-drop-wrapper .dropzone {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;

  border: 5px dashed var(--color-border-light-secondary);
}

.participant-add-edit-form .drag-and-drop-wrapper .dropzone > i {
  font-size: 60px;
}

.participant-add-edit-form .drag-and-drop-wrapper .dropzone > p {
  color: var(--color-text-dark-secondary);

  margin-top: 15px;
  max-width: 280px;
  text-align: center;
}

.participant-add-edit-form .drag-and-drop-wrapper .dropzone > p.hold-control {
  margin-top: 2px;
  font-size: var(--font-size-12);
}

.participant-add-edit-form .drag-and-drop-wrapper .dropzone * {
  pointer-events: none;
}
/* #endregion */

/* ----- Active dropzone rule overrides ----- */
/* #region */
.participant-add-edit-form .drag-and-drop-wrapper.active-dropzone .dropzone {
  display: flex;
}
.participant-add-edit-form .drag-and-drop-wrapper.active-dropzone .faction-config-content {
  display: none;
}
/* #endregion */
