<div id="collectiveConversation" class="conversation-hud-content chud-active-conversation {{#if hasDock}}has-dock{{/if}}">
  {{#each participatingUsers as |participatingUser index|}}
    <div class="chud-participating-user">
      {{!-- Player name --}}
      <div class="chud-user-details">
        <i class="fas fa-user" style="color: {{participatingUser.color}}"></i>
        <p>{{participatingUser.name}}</p>
      </div>

      {{!-- Active participant --}}
      <div id="active-participant-anchor-point">
      </div>
    </div>
  {{/each}}
</div>