.chud-participating-users-list {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.chud-participating-users-list > .chud-no-participating-users-message {
  display: flex;
  margin: auto;
  max-width: 310px;
  text-align: center;
}

.chud-participating-users-list .chud-content > .chud-participating-user {
  border-bottom: 2px solid var(--color-border-dark-5);
}

.chud-participating-users-list .chud-content > .chud-participating-user:last-child {
  border-bottom: none;
}
